@import "tailwindcss";

body {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
.font-display {
  font-family:
    "Plus Jakarta Sans",
    system-ui,
    -apple-system,
    sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}
